In [17]:
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PowerTransformer
from sklearn.model_selection import train_test_split

from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score

In [2]:
df=pd.read_csv("./weather_norm.csv")

In [3]:
df.head()

,temperature,humidity,pressure,Temperature Index,Humidity Index,Pressure Index,Misery Index
0,0.277778,1.679303,0.465116,-0.940573,0.94,-0.077549,0.646201
1,0.296296,1.490335,0.441860,-0.923042,0.92,-0.124052,0.649161
2,0.259259,1.340200,0.441860,-0.956408,0.90,-0.124052,0.653572
3,0.333333,0.810910,0.441860,-0.882891,0.80,-0.124052,0.596310
4,0.388889,0.739737,0.395349,-0.809944,0.78,-0.217058,0.596330

In [4]:
X=df[['temperature','humidity','pressure']]
y=df[['Misery Index']]

In [5]:
X.head()

   temperature  humidity  pressure
0     0.277778  1.679303  0.465116
1     0.296296  1.490335  0.441860
2     0.259259  1.340200  0.441860
3     0.333333  0.810910  0.441860
4     0.388889  0.739737  0.395349

In [23]:
X.describe()

        temperature      humidity      pressure
count  30248.000000  30248.000000  30248.000000
mean       0.535450      0.005203      0.497042
std        0.183767      1.025275      0.165800
min        0.000000     -5.199338      0.000000
25%        0.388889     -0.687939      0.395349
50%        0.537037      0.003764      0.488372
75%        0.685185      0.667419      0.604651
max        1.000000      5.199338      1.000000

In [6]:
y.head()

   Misery Index
0      0.646201
1      0.649161
2      0.653572
3      0.596310
4      0.596330

In [7]:
for x in range(0,len(y['Misery Index'])):
    if y['Misery Index'][x]<=0.5:
        y['Misery Index'][x]=int(0)
    else:
        y['Misery Index'][x]=int(1)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3417: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
y.head()

   Misery Index
0           1.0
1           1.0
2           1.0
3           1.0
4           1.0

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y['Misery Index'], random_state=1)

In [10]:
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(X_train,y_train)

/home/barry/.local/lib/python3.7/site-packages/sklearn/neural_network/_multilayer_perceptron.py:471: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

MLPClassifier(alpha=1e-05, hidden_layer_sizes=(5, 2), random_state=1,
              solver='lbfgs')

In [11]:
y_pred=clf.predict(X_test)

In [14]:
y_test=pd.DataFrame(data=y_test,columns=['Misery Index'])
y_test.insert(loc=len(y_test.columns),value=y_pred,column='Prediction')

In [15]:
y_test.head()

       Misery Index  Prediction
3203            0.0         0.0
1953            0.0         0.0
1405            0.0         0.0
24476           0.0         0.0
17627           1.0         1.0

In [18]:
score=accuracy_score(y_test['Misery Index'],y_test['Prediction'])
print("Accuracy score:",score)

Accuracy score: 0.9658820417878868

In [30]:
clf.predict([[1,5.2,1]])

array([0.])